{% load static %} 
<nav class="navbar navbar-light" style="background-color: lightskyblue">
 <div class="container">
   <a class="navbar-brand" href="{% url 'app:index' %}">
     <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
     <span style="color:red">Q</span>uiz
   </a>
   {% if user.is_authenticated %}
    <div class="bg text-dark">{{ user.username }}:{{score.score}}</div>
   {%endif%}
   {% with request.resolver_match.view_name as view_name %}
   <ul class="nav nav-pills">
    <li class="nav-item"> 
      <a class="nav-link link-light {% if view_name  == 'app:index' %}active{% endif %}" href="{% url 'app:index' %}">Home</a>
    </li>
   <ul class="nav nav-pills">
    <li class="nav-item"> 
      <a class="nav-link link-light {% if view_name  == 'app:top' %}active{% endif %}" href="{% url 'app:top' %}">Top-10</a>
    </li>
     {% if user.is_authenticated %}
       <li class="nav-item"> 
         <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}" href="{% url 'users:logout' %}">Log out</a>
       </li>

     {% else %}
       <li class="nav-item"> 
         <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login'%}">Log in</a>
       </li>
       <li class="nav-item"> 
         <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" href="{% url 'users:signup'%}">Sign up</a>
       </li>
     {% endif %}
     {% endwith %}
   </ul>
 </div>
</nav> 
